<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--안드로이드 노티피케이션, 알람 스케줄 실행-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alarm3Try"
        tools:targetApi="31">
        <activity
            android:name=".introActivity"
            android:exported="true"> <!--여기 기존에 연결돼있던거 인트로로 바꾸기-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" /> <!--여기 메인 액티비티 연결해주고-->

        <!--리시버 설정-->
        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false"
            />
    </application>

</manifest>